In [1]:
from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName('Practice2').getOrCreate()

24/07/30 20:47:14 WARN Utils: Your hostname, MacBook-Pro-2.local resolves to a loopback address: 127.0.0.1; using 192.168.1.11 instead (on interface en0)
24/07/30 20:47:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/30 20:47:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/07/30 20:47:16 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [7]:
# import CSV
df_pyspark = spark.read.csv("test.csv", header=True,inferSchema=True)
df_pyspark.show()

+------+----+----------+------+
|  Name| age|Experience|Salary|
+------+----+----------+------+
| Emily|  29|        10| 10000|
|Ashton|  33|         8| 30000|
|Billie|   1|         0|   500|
| Helen|  55|        30| 10000|
|   Jac|  25|      NULL| 50000|
|   Jon|NULL|        30|   500|
+------+----+----------+------+

In [8]:
## lets drop column 
df_pyspark = df_pyspark.drop('Name')
df_pyspark.show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  29|        10| 10000|
|  33|         8| 30000|
|   1|         0|   500|
|  55|        30| 10000|
|  25|      NULL| 50000|
|NULL|        30|   500|
+----+----------+------+

In [12]:
# lets drop any NA/NULL values - we have null values on row 5&6
df_pyspark.na.drop().show()
# to make use of 'how' functionality... if you only want to drop a row where ALL values are null 
df_pyspark.na.drop(how="all").show() # this wouldn't drop any rows in our df
df_pyspark.na.drop(how="all", thresh=2).show() # this would delete rows where we have two NULLS 
df_pyspark.na.drop(how="all", subset=['Experience']).show() # only deletes rwos where nulls exist in Experience column

+---+----------+------+
|age|Experience|Salary|
+---+----------+------+
| 29|        10| 10000|
| 33|         8| 30000|
|  1|         0|   500|
| 55|        30| 10000|
+---+----------+------+

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  29|        10| 10000|
|  33|         8| 30000|
|   1|         0|   500|
|  55|        30| 10000|
|  25|      NULL| 50000|
|NULL|        30|   500|
+----+----------+------+

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  29|        10| 10000|
|  33|         8| 30000|
|   1|         0|   500|
|  55|        30| 10000|
|  25|      NULL| 50000|
|NULL|        30|   500|
+----+----------+------+

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  29|        10| 10000|
|  33|         8| 30000|
|   1|         0|   500|
|  55|        30| 10000|
|NULL|        30|   500|
+----+----------+------+