In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.3 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 13.5 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=eaf6a373437820740aed2bd6a8ef5a103f9c978e67fbb05b67833e6f09040dd7
  Stored in directory: /Users/emily/Library/Caches/pip/wheels/95/13/41/f7f135ee114175605fb4f0a89e7389f3742aa6c1e1a5bcb657
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.1

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [3]:
import pyspark
import pandas as pd

In [4]:
pd.read_csv("test.csv")

     Name  age
0   Emily   29
1  Ashton   33
2  Billie    1

In [6]:
# start a spark session 
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("Practice App").getOrCreate() # this will create one cluster
spark

In [9]:
# lets try and read the dataset with spark 
df_pyspark=spark.read.csv("test.csv")
print(df_pyspark)

DataFrame[_c0: string, _c1: string]

In [11]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|age|
| Emily| 29|
|Ashton| 33|
|Billie|  1|
+------+---+

In [44]:
spark.read.option('header','true').csv("test.csv").show() # pull dataset with columns
df_pyspark = spark.read.option('header','true').csv("test.csv")
print(df_pyspark) # the type is a pyspark.sql.dataframe rather than pandas dataframe

+------+---+----------+
|  Name|age|Experience|
+------+---+----------+
| Emily| 29|        10|
|Ashton| 33|         8|
|Billie|  1|         0|
+------+---+----------+

DataFrame[Name: string, age: string, Experience: string]

In [45]:
# still has lots of same functionality i.e. 
df_pyspark.head()

Row(Name='Emily', age='29', Experience='10')

In [46]:
### check the schema 
df_pyspark.printSchema()
df_pyspark.dtypes
print(df_pyspark.describe().show())

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)

+-------+------+------------------+-----------------+
|summary|  Name|               age|       Experience|
+-------+------+------------------+-----------------+
|  count|     3|                 3|                3|
|   mean|  NULL|              21.0|              6.0|
| stddev|  NULL|17.435595774162696|5.291502622129181|
|    min|Ashton|                 1|                0|
|    max| Emily|                33|                8|
+-------+------+------------------+-----------------+

None

In [47]:
## lets pull just the name column 
df_pyspark.select('Name') 
df_pyspark.select('Name').show() # returns the whole colum
type(df_pyspark.select('Name')) 

print(df_pyspark.select('Name', 'age'))

+------+
|  Name|
+------+
| Emily|
|Ashton|
|Billie|
+------+

DataFrame[Name: string, age: string]

In [48]:
# adding columns 'Experience After 2 Years' in a dataframe which is experience + 2 
df_pyspark = df_pyspark.withColumn('Experience After 2 Years', df_pyspark['Experience']+2)
df_pyspark.show()

+------+---+----------+------------------------+
|  Name|age|Experience|Experience After 2 Years|
+------+---+----------+------------------------+
| Emily| 29|        10|                    12.0|
|Ashton| 33|         8|                    10.0|
|Billie|  1|         0|                     2.0|
+------+---+----------+------------------------+

In [49]:
## drop columns 
df_pyspark = df_pyspark.drop('Experience After 2 Years')
df_pyspark

DataFrame[Name: string, age: string, Experience: string]

In [52]:
## rename a column 
print(type(df_pyspark))
df_pyspark.withColumnRenamed('Name','New Name')
df_pyspark.show()

<class 'pyspark.sql.dataframe.DataFrame'>
+------+---+----------+
|  Name|age|Experience|
+------+---+----------+
| Emily| 29|        10|
|Ashton| 33|         8|
|Billie|  1|         0|
+------+---+----------+